.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  bottom: 0;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  width: 90%;
  height: 100px;
}

.appName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: #FFF;
}

.appName a{
  text-decoration: none;
  color: #FFF;
}